<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ContractMapper">
    <select id="findMyContracts" parameterType="int" resultType="Contract">
        SELECT contractno, lender, borrower, `type`, goods, duedate, picture, record, description, agreed
        FROM contract c, `user` u
        WHERE u.userno = #{userno} AND (c.lender = u.id OR c.borrower = u.id)
    </select>

    <select id="findContractByNo" parameterType="int" resultType="Contract">
        SELECT contractno, lender, borrower, `type`, goods, duedate, picture, record, description, agreed
        FROM contract
        WHERE contractno = #{contractno}
    </select>

    <insert id="addContract" parameterType="Contract">
        INSERT INTO contract (lender, borrower, `type`, goods, duedate, picture, record, description, agreed)
        VALUES (#{lender}, #{borrower}, #{type}, #{goods}, #{duedate}, #{picture}, #{record}, #{description}, #{agreed})
    </insert>

    <update id="terminateContract" parameterType="int">
        UPDATE contract
        SET duedate = now()
        WHERE contractno = #{contractno}
    </update>
</mapper>